<script>
    import { View } from "svench";
    import Checkbox from "./Checkbox.svelte";
  </script>
  
  <View name="Multiple checkboxes">
    <Checkbox label="Huey" name="drone" showLabel/>
    <Checkbox label="Dewey" name="drone" showLabel/>
    <Checkbox label="Louie" name="drone" showLabel/>
  </View>

  
  