.svench-content {
  color: #666;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1.svench-content {
  font-size: 2em;
}
h2.svench-content {
  font-size: 1.66em;
}
h3.svench-content {
  font-size: 1.33em;
}
h4.svench-content {
  font-size: 1.33em;
  font-weight: normal;
}
h5.svench-content {
  font-size: 1em;
  font-weight: bold;
}
h6.svench-content {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

:root { 
  --white: #FFFFFF;

  --ink-lighter: #ADAEC4;
  --ink-light: #808192;
  --ink: #393C44;

  --grey: #FBFBFB;
  --grey-dark: #FBFBFB;
  --grey-darker: #EBEBEB;

  --blue-light: #F1F4FC;
  --blue: #0055ff;
  --blue-dark: #2F4C9B;

  --red-light: #FFE6E6;
  --red: #E26D69;
  --red-dark: #800400;
  
  --yellow-light: #FFF7E6;
  --yellow: #FFD26A;
  --yellow-dark: #805900;

  --orange-light: #FFF0E6;
  --orange: #F0955A;
  --orange-dark: #803300;

  --green-light: #008017;
  --green: #84C991;
  --green-dark: #E6FFEB;

  --purple-light: #E9E6FF;
  --purple: #806FDE;
  --purple-dark: #130080;

  --rounded: 3px;
  --rounded-small: 2px;
  --rounded-medium: 5px;
  --rounded-large: 10px;

  --font-normal: "Roboto";
  --font-black: "Roboto Black";
  --font-bold: "Roboto Bold";
  --font-medium: "Roboto Medium";
  --font-light: "Roboto Light"; 

  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Georgia", Cambria, Times New Roman, Times, serif;
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  font-size: 14px;
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size: 1rem;
  --font-size-md: 1.15rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.45rem;
  --font-size-2xl: 1.7rem;
  --font-size-3xl: 2.3rem;

  --font-render: optimizeLegibility;
  --font-smooth: antialiased;

  --text: var(--font-normal) "regular" var(--ink) var(--font-size) var(--font-render) var(--font-smooth);
  --text-sm: var(--font-normal) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-lg: var(--font-normal) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);
  --text-light: var(--font-light) "regular" var(--ink-light) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-medium: var(--font-medium) "regular" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-heavy: var(--font-bold) "regular" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --quotation: var(--font-normal) "italics" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-sm-light: var(--font-light) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-sm-medium: var(--font-medium) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-sm-heavy: var(--font-bold) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-lg-medium: var(--font-medium) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);
  --text-lg-heavy: var(--font-bold) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);


  --heading: var(--font-medium) "regular" var(--ink) var(--font-size-lg) var(--text-render) var(--text-smooth);
  --heading-sm: var(--font-medium) "regular" var(--ink) var(--font-size-md) var(--text-render) var(--text-smooth);
  --heading-lg: var(--font-bold) "regular" var(--ink) var(--font-size-xl) var(--text-render) var(--text-smooth);
  --heading-xl: var(--font-bold) "regular" var(--ink) var(--font-size-2xl) var(--text-render) var(--text-smooth);
  --heading-2xl: var(--font-bold) "regular" var(--ink) var(--font-size-3xl) var(--text-render) var(--text-smooth);

  
}
