.svench-content {
  color: #666;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1.svench-content {
  font-size: 2em;
}
h2.svench-content {
  font-size: 1.66em;
}
h3.svench-content {
  font-size: 1.33em;
}
h4.svench-content {
  font-size: 1.33em;
  font-weight: normal;
}
h5.svench-content {
  font-size: 1em;
  font-weight: bold;
}
h6.svench-content {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}


:root { 
  --white: #FFFFFF;
  --black: #000000;
  
  --ink: #000000;

  --grey-1: #fafafa;
  --grey-2: #f5f5f5;
  --grey-3: #eeeeee;
  --grey-4: #e0e0e0;
  --grey-5: #bdbdbd;
  --grey-6: #9e9e9e;
  --grey-7: #757575;
  --grey-8: #616161;
  --grey-9: #424242;

  --blue-light: #F1F4FC;
  --blue: #4285f4;
  --blue-dark: #2F4C9B;

  --red-light: #FFE6E6;
  --red: #E26D69;
  --red-dark: #800400;
  
  --yellow-light: #FFF7E6;
  --yellow: #FFD26A;
  --yellow-dark: #805900;

  --orange-light: #FFF0E6;
  --orange: #F0955A;
  --orange-dark: #803300;

  --green-light: #E6FFEB;
  --green: #84C991;
  --green-dark: #008017;

  --purple-light: #E9E6FF;
  --purple: #806FDE;
  --purple-dark: #130080;

  --rounded: 5px;
  --rounded-small: 3px;
  --rounded-medium: 5px;
  --rounded-large: 10px;

  --font-normal: "Inter";
  --font-black: "Inter Black";
  --font-bold: "Inter Bold";
  --font-medium: "Inter Medium";
  --font-light: "Inter Light"; 

  --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, "Inter", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Georgia", Cambria, Times New Roman, Times, serif;
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  font-size: 14px;
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size: 1rem;
  --font-size-md: 1.15rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.45rem;
  --font-size-2xl: 1.7rem;
  --font-size-3xl: 2.3rem;

  --font-render: optimizeLegibility;
  --font-smooth: antialiased;

  --text: var(--font-sans) var(--font-400) "regular" var(--ink) var(--font-size) var(--font-render) var(--font-smooth);
  --text-sm: var(--font-sans) var(--font-400) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-md: var(--font-sans) var(--font-400) "regular" var(--ink) var(--font-size-md) var(--font-render) var(--font-smooth);
  --text-lg: var(--font-sans) var(--font-400) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);
  --text-500: var(--font-sans) var(--font-500) "regular" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-600: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-700: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --quotation: var(--font-sans) var(--font-400) "italics" var(--ink) var(--font-size-base) var(--font-render) var(--font-smooth);
  --text-sm-500: var(--font-sans) var(--font-500) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-sm-600: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-sm-700: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-sm) var(--font-render) var(--font-smooth);
  --text-md-500: var(--font-sans) var(--font-500) "regular" var(--ink) var(--font-size-md) var(--font-render) var(--font-smooth);
  --text-md-600: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-md) var(--font-render) var(--font-smooth);
  --text-md-700: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-md) var(--font-render) var(--font-smooth);
  --text-lg-500: var(--font-sans) var(--font-500) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);
  --text-lg-600: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);
  --text-lg-700: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-lg) var(--font-render) var(--font-smooth);

  --heading: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-lg) var(--text-render) var(--text-smooth);
  --heading-sm: var(--font-sans) var(--font-600) "regular" var(--ink) var(--font-size-md) var(--text-render) var(--text-smooth);
  --heading-lg: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-xl) var(--text-render) var(--text-smooth);
  --heading-xl: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-2xl) var(--text-render) var(--text-smooth);
  --heading-2xl: var(--font-sans) var(--font-700) "regular" var(--ink) var(--font-size-3xl) var(--text-render) var(--text-smooth);

  --text-mono: var(--font-mono) var(--font-400) "regular" var(--ink) var(--font-size) var(--font-render) var(--font-smooth);
  --text-serif: var(--font-serif) var(--font-400) "regular" var(--ink) var(--font-size) var(--font-render) var(--font-smooth);


}


h1 {
  font-size: 3rem;
  font-family: var(--font-sans);
  font-weight: 700;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-sans);
  font-weight: 600;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

h3 {
  font-size: 1.7rem;
  font-family: var(--font-sans);
  font-weight: 600;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

h4 {
  font-size: var(--font-size-xl);
  font-family: var(--font-sans);
  font-weight: 500;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

h5 {
  font-size: var(--font-size-lg);
  font-family: var(--font-sans);
  font-weight: 500;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

h6 {
  font-size: var(--font-size-md);
  font-family: var(--font-sans);
  font-weight: 500;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

p {
  font-size: var(--font-size);
  font-family: var(--font-sans);
  font-weight: 400;
  text-rendering: var(--text-render); 
  -webkit-font-smoothing: var(--text-smooth);
  color: var(--ink);
}

